PORT=4000
JWT_SECRET=secret_key_for_jwt
CUSTOMER_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3003
FARE_SERVICE_URL=http://localhost:3004
LOCATION_SERVICE_URL=http://localhost:3005
