PORT=3005
NODE_ENV=development
JWT_SECRET=secret_key_for_jwt
DATABASE_URL=postgresql://db_user:db_user_password@Cloud SQL Public IP address:port/db_name
DB_SSL=true

WEATHER_API_KEY=your_weatherapi_com_key_here
WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
